.btnStyle {
    transition: .3s;
}

.btnStyle:hover {
    background-color: #ededed;
    color: var(--color-darkBlue);
    transition: .3s;
}

.imageScale {
    transition: transform 0.3s ease;
}

.imageScale:hover {
    transform: scale(1.1);
}